fastapi
uvicorn
sqlmodel
passlib
psycopg2-binary
python-multipart
minio
fastapi-login
anyio
orjson
huggingface_hub
celery
redis
prometheus_fastapi_instrumentator

# Ultralytics dependencies
numpy
matplotlib
pandas
pyyaml
pillow
psutil
requests
tqdm
scipy
seaborn
ultralytics-thop
opencv-python-headless